<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
  </div>
  <div class="headings">
    <h2>Images Repository</h2>
    <h3>By Tobe For Shopify</h3>
    <a href="/dashboard">View Images</a>
  </div>
</header>


<%- include('partials/footer'); -%>